<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>饼图</title>
</head>
<body>
    <h1>首aa页</h1>
    <div th:text="${hello}">这是欢迎信息</div>
    
    <div style="width: 100%">
     <div style="float: left;width: 30%;height: 100%">
     <iframe src="t.html"></iframe> 
      </div>
     <div style="float: left;width: 30%"></div>
     <div style="float: left;width: 30%"></div>
     <div style="float: left;width: 30%"></div>
     
      #{today} 
    </div>
</body>
</html>